USE [master]
GO
/****** Object:  Database [Practica6]    Script Date: 02/11/2019 09:12:37 p. m. ******/
CREATE DATABASE [Practica6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Practica6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Practica6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Practica6_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Practica6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Practica6]
GO
/****** Object:  Table [dbo].[concierto]    Script Date: 02/11/2019 09:12:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[concierto](
	[num_boletos] [int] NULL,
	[Zona] [char](1) NULL,
	[NombredeBanda] [varchar](255) NULL,
	[NombredeConcierto] [varchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
